.in_content {
}

.film {
    padding-left: 15px;
    padding-right: 15px;
}

.infofilm table{
    color: #707070;
}

.infofilm td{
    border: 4px solid #111;
    background: #181818;
}

.infofilm img{
    width: 200px;
    height: 300px;
}

.infofilm h6{
    color: white;
    font-family: "Gabriola";
    font-size: 25px;
}

.description {
    border: 15px solid #181818;
    padding: 10px 10px 10px 10px;
}

.film_data {
    border: 15px solid #181818;
    padding: 10px 10px 10px 10px;
}

.film_img {
    border: 15px solid #181818;
    padding: 10px 10px 10px 10px;
}

.infofilm {
    display: flex;
    flex-direction: row;
    color: #707070;
    background: #505050;
    border: 15px solid #181818;
}

.admin {
    border: 15px solid #181818;
}

.add_comment {
    border: 15px solid #181818;
    background: #505050;
    padding: 15px 15px 15px 15px;
}

.get_part h1{
    color: white;
    font-family: "Comic Sans MS";
    font-size: 25px;
}

.Rating {
    border: 15px solid #181818;
    padding: 15px 15px 15px 15px;
    background: #505050;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 25px;
}

.comment {
    padding: 15px 15px 15px 15px;
    display: flex;
}

.comment_user {
    padding: 4px 4px 4px 4px;
    background: #505050;
    border: 15px solid #181818;
}

.comment_user h6{
    color: white;
    font-family: "Comic Sans MS";
}

.some_btn {
    border-left: 30px solid #181818;
}

.comment_part {
    border: 15px solid #181818;
    padding: 15px 15px 15px 15px;
    color: white;
    font-family: "Comic Sans MS";
}