.film {
    background-color: red;
}

.infofilm table{
    background-color: green;
}

.infofilm {
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
}

.Rating {
    background-color: lawngreen;
}

.comments {
    background-color: cyan;
}