h3 {
    color: green;
}

.filmlist {
    width: 100%;
    border: 1px solid gray;
}

.shortinfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #191919;
    border: 1px solid gray;
    color: white;
}