{% extends "base.html" %}

    {% block content %}
        <div class="infofilm">
            <img src="film['photo_url']">
            <table>
                <tr>
                    <td class="filmsets"><h5>Название</h5></td>
                    <td class="filmputs"><h5>{{film['title']}}</h5></td>
                </tr>
                <tr>
                    <td class="filmsets"><h5>Премьера</h5></td>
                    <td class="filmputs"><h5>{{film['year']}}</h5></td>
                </tr>
                <tr>
                    <td class="filmsets"><h5>Страна</h5></td>
                    <td class="filmputs"><h5>{{film['country']}}</h5></td>
                </tr>
                <tr>
                    <td class="filmsets"><h5>Жанр</h5></td>
                    <td class="filmputs"><h5>{{film['genre']}}</h5></td>
                </tr>
                <tr>
                    <td class="filmsets"><h5>Время</h5></td>
                    <td class="filmputs"><h5>{{film['duration']}}</h5></td>
                </tr>
                <tr>
                    <td class="filmsets"><h5>Ограничение по возрасту</h5></td>
                    <td class="filmputs"><h5>{{film['year_war']}}</h5></td>
                </tr>
            </table>
            <div>
                <h6>{{film['description']}}</h6>
            </div>
        </div>
        <div class="Rating">
            <h5>Оценка кинокритиков :</h5>
            <h3>{{film['score']}} из 10</h3>
        </div>
        <div class="film">
            <video src="{{film['film_url']}}" controls width="500" height="400"></video>
        </div>
        <h3 class="comments">Коментарии:</h3>
        <textarea class="comments"></textarea>
        <h5 class="comments">Отправить</h5>
    {% endblock %}