{% extends "base.html" %}

    {% block content %}
        <div class="infofilm">
            <img src="static/img/mars.jpg">
            <table>
                <tr>
                    <td>Название</td>
                    <td>Флекс</td>
                </tr>
                <tr>
                    <td>Премьера</td>
                    <td>2020</td>
                </tr>
                <tr>
                    <td>Страна</td>
                    <td>Африка</td>
                </tr>
                <tr>
                    <td>Жанр</td>
                    <td>Флекс</td>
                </tr>
                <tr>
                    <td>Время</td>
                    <td>6 мин</td>
                </tr>
            </table>
        </div>
        <div class="Rating">Оценка из белого дома Нур-Султана 10 негров из 10</div>
        <div class="film">
            <video src="https://stonehenge.load.hdrezka-ag.net/tvseries/f455776e70b462a514403e5dae056fc894ca5c92/a2b31d7e35a4d1a4bb024721e145d494:2020042511/240.mp4" controls width="500" height="400"></video>
        </div>
        <h3 class="comments">Коментарии:</h3>
        <textarea class="comments"></textarea>
        <h5 class="comments">Отправить</h5>
    {% endblock %}