{% extends "base.html" %}

{% block content%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <div class="mainblock">
        <div class="index_title">
            <h1>Кинотека</h1>
        </div>
        <div class="in_content">
            <div class="film_info">
                <a href="/film_page/1">
                    <img src="static/img/mars.jpg" width="200px" height="300px">
                </a>
                <h1>Фильм о марсианине</h1>
            </div>
        </div>
        <div class="in_content">
            <div class="film_info">
                <a href="/film_page/1">
                    <img src="static/img/mars.jpg" width="200px" height="300px">
                </a>
                <h1>Фильм о марсианине</h1>
            </div>
        </div>
        <div class="in_content">
            <div class="film_info">
                <a href="/film_page/1">
                    <img src="static/img/mars.jpg" width="200px" height="300px">
                </a>
                <h1>Фильм о марсианине</h1>
            </div>
        </div>
        <div class="index_btn">
            <h3>Кнопочки для листания</h3>
        </div>
    </div>
{% endblock %}