{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
        <div class="login">
            <h1>Авторизация</h1>
            <p>
                {{ form.email.label }}
                {{ form.email(class="form-control", type="email") }}<br>
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{form.remember_me()}}{{form.remember_me.label}}
                <a class="btn btn-secondary" href="/forgot_password">Забыли пароль?</a>
            </p>
            <p>{{recaptcha}}{{form.submit(type="submit", class="btn btn-primary")}}</p>
            <div>
                {{message}}
            </div>
        </div>
    </form>
{% endblock %}