{% extends "base.html" %}

{% block content%}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
    <div class="mainblock">
        {% if info|length != 0 %}
            <div class="index_title">
                <h1>По запросу: "{{text}}"</h1>
            </div>
        {% else %}
            <div class="index_title">
                <h1>По запросу: "{{text}}" ничего не найдено</h1>
            </div>
        {% endif %}
        {% for i in range(0, info|length) %}
            <div class="in_content">
                <div class="film_info">
                    <a href="{{'/film_page/' + info[i]['id']|string}}">
                        <img src="{{info[i]['photo_url']}}" width="200px" height="300px">
                    </a>
                    <h1>{{info[i]['description']}}</h1>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}